minecraft/.fabric/

minecraft/.mixin.out/

minecraft/craftpresence/

minecraft/data/

minecraft/logs/

minecraft/mods.backup/

minecraft/saves/

minecraft/screenshots/

minecraft/options.txt

minecraft/servers.dat

minecraft/usercache.json

mods/
